_config.yml
.texpadtmp/main.synctex.gz
.texpadtmp/main.out
.texpadtmp/main.lot
.texpadtmp/main.log
.texpadtmp/main.lof
.texpadtmp/main.blg
.texpadtmp/main.bbl
.texpadtmp/main.aux
.texpadtmp/main.toc
.texpadtmp/main.toc
.DS_Store
.texpadtmp/main.toc
.texpadtmp/main.toc
.texpadtmp/main.toc
.texpadtmp/main.toc
